### Integer: it hold numerical nature for calculation

In [1]:
print(len(12345))

TypeError: object of type 'int' has no len()

In [2]:
print(len("12345"))

5

In [ ]:
print("123" + "456") # string concatenation

123456

In [ ]:
print(123 + 456) # integer addition

579

### Floating Point Number

In [15]:
print(type(3.14))

<class 'float'>

### Boolean: 0 or 1; False or True

In [16]:
print(type(True))

<class 'bool'>

### String Index

In [5]:
# index starts from 0 and ends at len-1
print("hello"[0]) # first character
print("hello"[-1]) # last character

h
o

### Data type conversion
-  use int, float, str, and bool to convert the different data type into desired ones

In [17]:
print(type("hello"))
print(type(123))
print(type(3.14))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [19]:
print(int("123")) # convert string to integer
print(float("3.14")) # convert string to float
print(str(123)) # convert integer to string
print(bool("True")) # convert string to boolean

123
3.14
123
True

In [20]:
print(int("123") + int("456")) # convert string to integer and add them

579

### Task 1: Make this line of code run without errors

In [21]:
print("Number of letters in your name: " + len(input("Enter your name")))

TypeError: can only concatenate str (not "int") to str

In [23]:
print("Number of letters in your name: " + str(len(input("Enter your name"))))

Number of letters in your name: 5

### Mathematical Operator

In [25]:
print("My age: " + str(12))
print(123 + 234) # addition
print(3 - 7) # subtraction
print(3 * 2) # multiplication
print(6 / 3) # float division
print(6 // 3) # integer division
print(2 ** 3) # exponentiation
print(10 % 3) # modulo returns the remainder

My age: 12
357
-4
6
2.0
2
8
1

### Task 2. What is the output of this code? and change the code so it outputs 3?

In [28]:
print(3 * 3 + 3 // 3 - 3)

7

In [29]:
print(3 * (3 + 3) // 3 - 3)

3

### BMI Calculator
- The body mass index (BMI) is a measure used in medicine to see if someone is underweight or overweight. This is the formula used to calculate it:
- bmi is equal to the person's weight divided by the person's height squared.

In [32]:
height = 1.65
weight = 84

bmi = weight / height ** 2
print(bmi)
print(round(bmi, 2)) # round to 2 decimal places

30.85399449035813
30.85

### Number manipulation
- Flooring a Number

- You can floor a number or **remove all decimal places** using the int() function which converts a floating point number (with decimal places) into an integer (whole number).

In [33]:
int(3.738492)

3

- Rounding a Number
- If you want to round a decimal number to the nearest whole number using the traditional mathematical way, where anything over .5 rounds up and anything below rounds down. Then you can use the python round() function.

In [35]:
print(round(3.738492))

print(round(3.14159))

print(round(3.14159, 2))

4
3
3.14

- Assignment Operators
- Assignment operators such as the addition assignment operator += will add the number on the right to the original value of the variable on the left and assign the new value to the variable.
1. +=
2. -=
3. *=
4. /=

In [42]:
score = 0
score += 1
# score = score + 1 # same as above
print(score)

a = 0
a -= 1
print(a)

b = 0
b *= 2
print(b)

c = 9
c //= 3
print(c)

1
-1
0
3

- f-Strings
- we can use f-strings to insert a variable or an expression into a string.

In [43]:
age = 12

print(f"I am {age} years old")

I am 12 years old

In [44]:
# string concatenation
print("Your score is " + str(score))

# f-string
print(f"Your score is {score}")

Your score is 1
Your score is 1